/*
	Name: Base Stylesheet
	Description: Sitio oficial de Sociedad Uruguaya de Psicología del deporte (supde) Asociación Civil
	Author: Ignacio Lopez Juani
	Author URI: www.lopezjuani.com
*/

/* Imports */
@import url("html5-reset.css");
@import url(http://fonts.googleapis.com/css?family=Belgrano);

/* Global ************************************************/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
section {
  clear: both;
}

address a {
  color: #000;
}

.social_btn {
  margin: 10px;
}
.info_foot {
  font-size: 10px;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.main-container {
  clear: both;
  padding-top: 50px;
}

.logo {
  float: left;
  display: inline;
}

#affiliate {
  height: 255px;
  padding: 95px 600px 0 0;
}
#affiliate h1 {
  font-size: 20px;
  margin-bottom: 50px;
}

#conf_text {
  margin-left: 450px;
  line-height: 1.7em;
  margin-bottom: 40px;
  width: 380px;
}

.main_title {
  color: #006CC9;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 25px;
  text-shadow: 0px -1px 1px #E8F4FC;
}

nav ul li {
  list-style-type: none;
  display: inline;
}

nav ul li a {
  text-shadow: 1px 1px 1px #CACAD9;
  color: #121212;
  font: 1em "Helvetica, Arial" sans-serif;
  padding-left: 38px;
}
nav ul.menu {
  margin: 40px 150px;
}

.main-header {
  text-indent: -9999px;
}
.hidden {
  text-indent: -9999px;
}

#affiliate_text {
  margin-bottom: 50px;
  line-height: 1.7em;
}

#membership_application {
  width: 300px;
  margin: 0 auto;
  text-align: center;

}

.main-footer {
  height: 110px;
  font-size: 10px;
  color: #000;
  background-color: #3CACFF;
  text-align: center;
  margin-top: 75px;
}
#g {
  float: left;
  clear: both;
}

.primary-btn {
  background-color: #008DF2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border:1px solid #6CA6C1;
  font-size: 20px;
  color: #E8F4FC;
  text-shadow: 0px -1px 1px #727E8A;
  padding: 3px;
  /*-webkit-gradient(linear, 0% 0%, 0% 70%, from(#008DF2), to(#006CC9));
  -moz-linear-gradient(0% 70% 0deg,#008DF2, #006CC9);*/
}
.secondary-btn {
  background-color: #008DF2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #6CA6C1;
  font-size: 15px;
  color: #E8F4FC;
  text-shadow: 0px -1px 1px #727E8A;
  padding: 1px;
  margin-left: 50px;
}

/*
  LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #fff; }
ul.dropdown a:hover               { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 10px 10px; color: #222; }
ul.dropdown li:last-child a         { border-right: none; }
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #C0C9FF; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/*
  LEVEL TWO
  */
  ul.dropdown ul            { width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
  ul.dropdown ul li           { font-weight: normal; background: #fff; color: #000; float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
  background-color: #FFF;
  box-sizing: border-box;
}
ul.dropdown ul li a:hover {
  background-color: #E9E9E9;
}

ul.dropdown ul {
  border: 1px solid rgba( 0, 0, 0, 0.3);
  -webkit-box-shadow:  1px 5px 30px 5px rgba(0, 0, 0, 0.2);
  box-shadow:  1px 5px 30px 5px rgba(0, 0, 0, 0.2);
}

/* Section Specific ************************************************/

/*Home*/
body.home {
  background: transparent url(../images/background.jpg) center 150px no-repeat;
}

body.home .jThumbnailScroller .jTscrollerContainer {
  line-height: 0;
}

/* About */
body.about {

}

body.about h3{
  margin: 10px 0 10px 0;
}

body.about section {
  margin: 50px;
  }

.about-title {
  font-size: 20px;
  color: #006CC9;
  margin-bottom: 25px;
}

#history ul {
  margin: 15px 15px;
}
#history ul a {
  color: black;
}
#history ul a:hover {
  color: black;
  background-color: #E9E9E9;
}

/* activities */
body.activities {

}

/* afiliate */
body.afiliate {

}

/* Contact */
body.contact {

}

/* gallery */
body.gallery {

}

/* links */
body.links {

}
/* virtual-class-room */
body.virtual-class-room {

}


/* ***********************************

