<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!-- Chrome Frame -->
    <title>{{ page.title }} - Sociedad Uruguaya de Psicología del Deporte</title>
    <meta name="application-name" content="Sociedad Uruguaya de Psicologia del deporte">
    <meta name="description" content="Sitio oficial de Sociedad Uruguaya de Psicología del deporte (supde) Asociación Civil ">
    <meta name="author" content="Ignacio Lopez Juani">
    <link rel="shortcut icon" href="media/images/favicon.ico">
    <link rel="stylesheet" href="media/css/jquery.thumbnailScroller.css" />
    <link rel="stylesheet" href="media/css/base.css" />
    <script src="media/js/jquery-1.3.1.min.js"></script>
    <script src="media/js/jquery.dropdownPlain.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="media/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script src="media/js/functions.js"></script>
    <script src="media/js/modernizr-1.7.min.js"></script>
    <script src="media/js/jquery.thumbnailScroller.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="media/js/galleria-1.2.9.min.js"></script>
</head>

<body class="{{ page.body_class }}">
    <div class="container">
        <header>
            <nav>
                <h1 class="main-header">Sociedad Uruguaya de Psicología del Deporte</h1>
                <a href="/supde/"><img class="logo" alt="logo" src="media/images/logo_supde.jpg"></a>
                <ul class="dropdown menu">
            <li><a href="/supde/">Inicio</a></li>
            <li><a href="/supde/about.html">Institucional</a>
                <ul class="sub_menu">
                    <li><a href="/supde/about.html#mision">Misión</a></li>
                    <li><a href="/supde/about.html#historia">Historia</a></li>
                    <li><a href="/supde/about.html#estatutos">Estatutos</a></li>
                    <li><a href="/supde/about.html#comision">Comisión Directiva</a></li>
                </ul>
            </li>
            <li><a href="/supde/activities.html">Actividades</a>
                <ul class="sub_menu">
                     <li><a href="/supde/activities.html#congresos">Congresos</a></li>
                     <li><a href="/supde/activities.html#ateneos-workshops">Ateneos / Workshop</a></li>
                     <li><a href="/supde/activities.html#cursos">Cursos </a></li>
                     <li><a href="/supde/activities.html#agenda-externa">Agenda Externa</a></li>
                </ul>
            </li>
            <li><a href="/supde/gallery.html">Galeria</a>
            </li>
            <li><a href="/supde/links.html">Links</a></li>
            <li><a href="/supde/contact.html">Contacto</a></li>
            <li><a href="/supde/virtual class room.html">Aula Virtual</a></li>
            <li><a href="/supde/afiliate.html">Afiliate</a></li>
        </ul>
            </nav>
        </header>

        <div class="main-container">
            {{ content }}
        </div>

    </div>
    <footer class="main-footer">
        <div class="container">
            <a href="http://www.facebook.com" target="_blank"><img class="social_btn" src="media/images/fb_btn.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img class="social_btn" src="media/images/tw_btn.png"></a>
            <p class="info_foot">Sociedad Uruguaya de Psicología del deporte (supde) - Asociación Civil San Salvador 2045 (esquina Pablo de María) C.P. 11600 Montevideo, Uruguay Teléfono: (+598 2) 410-0334</p>
            <address class="vcard author">
                Sitio creado por: <a class="url fn" href="http://www.lopezjuani.com" target="_blank">Ignacio López Juaní</a>
            </address>
        <div>
    </footer>

</body>
</html>
